.footer {
  background-color: whitesmoke !important;

  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  min-height: 8rem;
  margin: 0;
  padding: 0;
}
.Email {
  margin: 0;
  padding: 0;
}
.Telephone {
  margin: 0;
  padding: 0;
}
.Adresse {
  margin: 0;
  padding: 0;
}
.pcoord {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
