.Homepage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Homepage-content {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Homepage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin-bottom: 1rem;
}
.Presentation {
  width: 80%;
  text-align: center;
  font-size: 26px;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.sev {
  border-radius: 50%;
  border-radius: 20px;
}
.PresTitle {
  text-align: center;
}
.Presentation {
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
}
.sev {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
}
