.competences {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.html {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.css {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.js {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodejs {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mysql {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skilltext {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;

  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
